@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Oxanium:wght@200..800&family=Rubik+Wet+Paint&family=Rubik:ital,wght@0,300..900;1,300..900&family=Tiny5&display=swap');
html {
    //overflow: hidden;
}
* {
    margin: 0 !important;
    padding: 0 !important;
    box-sizing: border-box !important;
    font-family: 'Open Sans', sans-serif !important;
    font-style: normal !important;
    line-height: normal !important;
    overscroll-behavior: none !important;
    background-color: unset !important;
    border: unset !important;
    text-align: unset !important;
    text-transform: uppercase !important;
    min-width: unset !important;
    max-width: unset !important;
    transition: unset !important;
    box-shadow: unset !important;
}
body{
    height: 100%;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100% !important; // 100%
    height: 100% !important; // 100%
    //background-color: red !important;
}

.container > div:first-of-type {
    position: relative !important;
    width: 551px !important;
    height: 65px !important;
    background-color: #f9fbfd !important;
    border-radius: 49px !important;
    border: 1px solid #e1e1e1 !important;
    padding: 17px 10px 17px 0 !important;
    margin-bottom: 25px !important;
    h4 {
        color: transparent !important;
        //color: #656362 !important;
        text-align: center !important;
        font-size: 17px !important;
        font-weight: 700 !important;
        width: 100% !important;
    }
    a {
        position: relative !important;
        width: 94px !important;
        height: 28px !important;
        background-color: #5bd7f2 !important;
        border-radius: 2rem !important;
        line-height: 28px !important;
        color: #fff !important;
        font-size: 13px !important;
        font-weight: 600 !important;
        translate: 6px 0;
        &:before {
            content: '';
            display: block;
            position: absolute;
            width: 100px !important;
            height: 32px !important;
            border-radius: 2rem !important;
            border: 1px solid #5bd7f2 !important;
            top: -2px;
            left: -3px;
        }
    }
    &:before {
        content: 'לקוח קיים? אם כבר נרשמתם';
        display: block;
        position: absolute;
        color: #656362 !important;
        font-size: 17px !important;
        font-weight: 700 !important;
        top: 18px;
        right: 71px;
    }
    &:after {
        content: 'כדי להתחבר';
        display: block;
        position: absolute;
        color: #656362 !important;
        font-size: 17px !important;
        font-weight: 700 !important;
        top: 18px;
        left: 61px;
    }
    br {
        display: none !important;
    }
}

.container > .row {
    //background-color: #f9fbfd !important;
    .col-md-12 {
        .panel {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            .panel-heading {
                position: relative;
                color: transparent !important;
                font-size: 20px !important;
                font-weight: 600 !important;
                &:before {
                    content: 'לקוח חדש ברוכים הבאים, הזינו את פרטיכם';
                    display: block;
                    position: absolute;
                    width: max-content;
                    color: #ffa800 !important;
                    font-size: 20px !important;
                    font-weight: 600 !important;
                    top: 0;
                    right: 0;
                    left: 0;
                    margin: 0 auto !important;
                }
            }
            .panel-body {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                //errors


                .alert{
                    position: absolute;
                    color: red !important;
                }

                #contactSuccess{
                    position: absolute;
                    text-align: center !important;
                    font-size: 10px !important;
                    top: 53px;
                    width:max-content !important;
                    color: #9EE02B !important;
                    font-family: "Open Sans";
                    font-weight: 600 !important;
                    &:after, &:before{
                        content: '';
                    }
                }
                #contactError{
                    position: absolute;
                    text-align: center !important;
                    //font-size: 12px !important;
                    top: 246px;
                    color: red !important;
                }

                #contactExists{
                    top: 200px;
                }

                #requestTimeout{
                    top: 175px;
                }
                #captchaError{
                    top: 117px;
                }
                //alerts
                #top_info {
                    .page-title {
                        text-align: center !important;
                        color: #656362 !important;
                        font-size: 16px !important;
                        font-weight: 550 !important;
                    }
                    p {
                        position: absolute;
                        width: max-content;
                        left: 0;
                        right: 0;
                        top: 251px;
                        color: #28CCDE !important;
                        margin: 0 auto !important;
                        font-family: "Open Sans";
                        font-size: 13px;
                        font-weight: 600;
                    }
                }

                .contact-form {
                    margin-top: 30px !important;
                    height: 400px !important;
                    #g-recaptcha {
                        position: absolute;
                        bottom: 50px !important;
                        transform: scale(.8) !important;
                    }

                    #contact-form {
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        justify-content: center;
                        flex-wrap: wrap;
                        width: 470px;
                        gap: 20px 10px;
                        .btn{
                            width: 120px;
                            height: 28px;
                            color: #fff !important;
                            font-family: "Open Sans";
                            font-size: 12px;
                            font-style: normal;
                            font-weight: 600;
                            background: linear-gradient(180deg, #FFA800 0%, #FF5C00 100%);
                            text-align: center !important;
                            border-radius: 2rem !important;
                            position: absolute !important;
                            bottom: 0 !important;
                        }
                        .form-group {
                            display: flex;
                            flex-direction: row;
                            align-items: center;
                            justify-content: center;
                            label,
                            i {
                                display: none;
                            }
                            .form-control {
                                padding: 0 10px !important;
                            }
                        }
                        .form-group {
                            &:nth-child(1) {
                                width: 228px;
                                height: 39px;
                                box-shadow: 0px 2.227px 23.381px rgba(103, 136, 213, 0.25) !important;
                                border-radius: 2rem;
                            }
                            &:nth-child(2) {
                                width: 228px;
                                height: 39px;
                                box-shadow: 0px 2.227px 23.381px rgba(103, 136, 213, 0.25) !important;
                                border-radius: 2rem;
                            }
                            &:nth-child(3) {
                                width: 468px;
                                height: 39px;
                                box-shadow: 0px 2.227px 23.381px rgba(103, 136, 213, 0.25) !important;
                                border-radius: 2rem;
                            }
                            &:nth-child(4) {
                                width: 468px;
                                height: 39px;
                                box-shadow: 0px 2.227px 23.381px rgba(103, 136, 213, 0.25) !important;
                                border-radius: 2rem;
                            }
                        }
                    }
                    p{
                        display: none;
                    }
                }
            }
        }
    }
}
