@import 'mixins';
@import 'vars';
* {
    @include start_config_rdg();
}
body,
html {
    @include flex_column_center();
    height: 100% !important;
    width: 100% !important;
}

.container {
    @include flex_column_center();
    position: relative !important;
    height: 435px !important;
    width: 525px !important;
    border-radius: 60px !important;
    border: 1px solid #e2e0e0 !important;
    box-shadow: 0 4px 43px 0 rgba(166, 163, 157, 0.22) !important;
    background: rgb(100%, 100%, 100%, 0.5) !important;
    overflow: hidden !important;
    @include bottom_yellow_image(40px);
    .page-title {
        @include titles_styles($color-bright-orange, 20px, normal, 700);
    }
    .row {
        @include flex_column_center();
        .col-md-6 {
            width: 100% !important;
            .panel {
                width: 100% !important;
                height: 250px !important;
                .panel-heading {
                    display: none !important;
                }
                .panel-body {
                    @include flex_column_center();
                    margin-top: 2px !important;
                    width: 100% !important;
                    p {
                        @include titles_styles($color-gray-warm, 14px, normal, 600);
                    }
                    .alert {
                        @include login_page_alert(11px, 104px);
                        top: unset !important;
                        bottom: -30px;
                        &#captchaError {
                            top: unset !important;
                        }
                        &#notFoundError {
                            width: max-content !important;
                            overflow: hidden !important;
                            height: 15px !important;
                        }
                    }
                    .contact-form {
                        @include flex_column_center();
                        .form-group {
                            margin-top: 39px !important;
                            @include input_nth_child('מספר זהות', 468, 39, 13, -22, 15);
                            i,
                            label {
                                display: none !important;
                            }
                        }
                        #g-recaptcha {
                            @include login_captcha_position(8px, 0.8);
                        }
                        #btn_sendpid {
                            @include submit_btn(105px, 27px, 12px, -10px);
                        }

                        #btn_loginbystudy {
                            display: none !important;
                        }
                        #btn_loginbyemail {
                            position: absolute !important;
                            bottom: -60px !important;
                            @include login_type_title(12px, 21.657px);
                        }
                    }
                }
            }
            #step2 {
                height: 150px !important;
                .panel-body {
                    .contact-form {
                        @include flex_column_center();
                        .form-group {
                            margin-top: 39px !important;
                            @include input_nth_child('', 468, 39, 13, -22, 13);
                        }
                        #btn_sendcode {
                            @include submit_btn(105px, 27px, 12px, 0);
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: $mobile) {
    .container {
        width: 100% !important;
        height: 100% !important;
        border-radius: 0 !important;
        border: 0 !important;
        padding: 0;
        .page-title {
            @include titles_styles($color-bright-orange, clamp(16px, 5vw, 20px), normal, 700);
        }
        .row {
            .col-md-6 {
                .panel {
                    height: unset !important;
                    .panel-body {
                        @include flex_column_center();
                        margin-top: 2px !important;
                        position: relative !important;
                        p {
                            @include titles_styles($color-gray-warm, clamp(14px, 3.5vw, 16px), normal, 600);
                            text-align: center !important;
                        }
                        .alert {
                            @include titles_styles($alert-red, 1.2svh, normal, 600);
                            top: unset !important;
                            bottom: 3.8svh !important;
                            &#captchaError {
                                top: unset !important;
                                bottom: 3.8svh !important;
                            }
                            &#notFoundError {
                                width: max-content !important;
                                overflow: hidden !important;
                                height: 12px !important;
                            }
                        }
                        .contact-form {
                            @include flex_column_center();
                            br {
                                display: none !important;
                            }
                            .form-group {
                                margin-top: 4.4svh !important;
                                @include input_nth_child_mobile('מספר זהות', 78vw, clamp(25px, 5svh, 38px), clamp(10px, 1.7svh, 12px), -2.7svh, 1.8svh);
                                i,
                                label {
                                    display: none !important;
                                }
                            }
                            #g-recaptcha {
                                @include login_captcha_position(4px, 0.7);
                                position: relative !important;
                                translate: 0 0 !important;
                                bottom: 0 !important;
                                background-color: $bg-test-white !important;
                            }
                            #btn_sendpid {
                                @include submit_btn(20vw, 3svh, 1.5svh, 0);
                                position: relative !important;
                            }

                            #btn_loginbystudy {
                                display: none !important;
                            }
                            #btn_loginbyemail {
                                position: absolute !important;
                                bottom: -3.6svh !important;
                                //height: 0 !important;
                                @include login_type_title(1.4svh, 21.657px);
                            }
                        }
                    }
                }
                #step2 {
                    .panel-body {
                        .contact-form {
                            @include flex_column_center();
                            .form-group {
                                margin: 3.2svh 0 3.2svh 0 !important;
                                @include input_nth_child_mobile('', 78vw, clamp(25px, 5svh, 38px), clamp(10px, 1.7svh, 12px), -2.7svh, 1.5svh);
                            }
                            #btn_sendcode {
                                @include submit_btn(20vw, 3svh, 1.5svh, 0);
                                position: relative !important;
                            }
                        }
                    }
                }
            }
        }
    }
}
