@import 'mixins';
@import 'vars';
* {
    @include start_config_rdg();
}
body, html {
    height: 100%;
}
.container {
    @include flex_column_center();
    width: 100% !important;
    height: 100% !important;
    .page-title {
        color: $color-bright-orange;
        text-align: center !important;
        font-size: 20px !important;
        font-weight: 700 !important;
        line-height: 26px !important;
    }
    .row {
        .col-md-6 {
            .panel {
                height: 250px !important;
                .panel-heading {
                    display: none !important;
                }
                .panel-body {
                    margin-top: 2px !important;
                    .alert {
                        position: absolute !important;
                        color: $alert-red !important;
                        font-size: 11px !important;
                        font-weight: 600 !important;
                        text-align: center !important;
                        top: 98px;
                        &#captchaError {
                            top: 226px;
                        }
                    }
                    @include flex_column_center();
                    div {
                        @include flex_column_center();
                    }
                    #step1 {
                        @include flex_column_center();
                        #g-recaptcha {
                            position: absolute;
                            bottom: 4px !important;
                            transform: scale(0.8) !important;
                        }
                        p {
                            color: $color-gray-warm !important;
                            text-align: center !important;
                            font-size: 14px !important;
                            font-weight: 600 !important;
                            line-height: normal !important;
                        }
                        .form-group {
                            margin-top: 39px !important;
                            @include input_nth_child('אימייל', 468, 39, 13, -22, 15);
                            i,
                            label {
                                display: none !important;
                            }
                            .form-control {
                                padding: 0 10px !important;
                            }
                        }
                        #btn_send_email {
                          @include submit_btn(105px, 27px, 12px, -30px);
                        }
                    }
                    #step2 {
                      @include flex_column_center();
                      p{
                        color: $color-gray-warm !important;
                        text-align: center !important;
                        font-size: 14px !important;
                        font-weight: 600 !important;
                        line-height: normal !important;
                        span{
                          color: $alert-red !important;
                        }
                        strong > span{
                          color: $color-gray-warm !important;
                        }
                      }
                      .form-group{
                        position: relative !important;
                        margin-top: 5rem !important;
                        @include input_nth_child('קוד', 468, 39, 13, -22, 13);
                        label {
                          display: none !important;
                        }
                      }
                      #btn_send_otp{
                        @include submit_btn(105px, 27px, 12px, -30px);
                      }
                    }
                    #other_btns {
                        position: absolute !important;
                        bottom: -60px !important;
                        #btn_loginbystudy {
                            display: none !important;
                        }
                        #btn_loginbyid {
                            color: $slate-gray !important;
                            text-align: center !important;
                            font-size: 12px !important;
                            font-weight: 700 !important;
                            line-height: 21.657px !important; /* 180.475% */
                        }
                    }
                }
            }
        }
    }
}
