@import '../mixin-vars/mixins';
@import '../mixin-vars/vars';
* {
    @include start_config_rdg();
}
body,
html {
    @include flex_column_center();
    height: 100% !important;
    width: 100% !important;
}
// prettier-ignore
.container .row .col-md-6 .panel .panel-heading,
.container .row .col-md-6 .panel .panel-body br,
.container .row .col-md-6 .panel .panel-body .contact-form .form-group label,
.container .row .col-md-6 .panel .panel-body .contact-form .form-group i,
.container .row .col-md-6 .panel .panel-body .contact-form #btn_loginbystudy{
    display: none !important;
}

body {
    @include bottom_titles_rdg(515px);
}

.container {
    @include flex_column_center();
    position: relative !important;
    height: 455px !important;
    min-height: 455px !important;
    width: 480px !important;
    border-radius: 60px !important;
    border: 1px solid #e2e0e0 !important;
    box-shadow: 0 4px 43px 0 rgba(166, 163, 157, 0.22) !important;
    background: white !important;
    overflow: hidden !important;
    @include bottom_yellow_image(55px);

    .page-title {
        @include titles_styles($color-bright-orange, 20px, normal, 700);
    }
    .row {
        @include flex_column_center();
        .col-md-6 {
            #step1,
            #step2 {
                @include flex_column_center();
                .panel-body {
                    @include flex_column_center();
                    margin-top: 2px !important;
                    width: 100% !important;
                    p {
                        @include titles_styles($color-gray-warm, 14px, normal, 600);
                        width: max-content !important;
                    }
                    .alert {
                        @include login_page_alert(11px, unset);
                        width: max-content !important;
                        top: 100px !important;
                        &#captchaError {
                            top: unset !important;
                            bottom: 32px !important;
                        }
                        &#notFoundError {
                            color: transparent !important;
                            &::after {
                                content: 'לא נמצאו בדיקות למספר זהות זה או שהמספר שגוי.';
                                @include login_page_alert(11px, unset);
                                font-weight: 700 !important;
                                font-family: 'Open Sans', sans-serif !important;
                                left: 0 !important;
                                right: 0 !important;
                                margin: 0 auto !important;
                            }
                        }
                    }
                    .contact-form {
                        @include flex_column_center();
                        .form-group {
                            margin-top: 39px !important;
                            @include input_nth_child('מספר זהות', 340, 39, 13, -22, 15);
                        }
                        #g-recaptcha {
                            height: 144px !important;
                            transform: scale(0.8) !important;
                            margin: 12px 0 5px 0 !important;
                        }
                        #btn_sendpid {
                            @include submit_btn_(105px, 27px, 12px);
                        }
                        #btn_loginbyemail {
                            position: absolute !important;
                            bottom: -53px !important;
                            @include login_type_title(12px, 21.657px);
                            z-index: 10;
                        }
                    }
                }
            }
            #step2 {
                .panel-body {
                    .alert {
                        top: 95px !important;
                    }
                    .contact-form {
                        @include flex_column_center();
                        .form-group {
                            margin: 3rem 0 3rem 0 !important;
                            @include input_nth_child('', 340, 39, 13, -22, 13);
                        }
                        #btn_sendcode {
                            @include submit_btn_(105px, 27px, 12px);
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: $mobile) {
    .container {
        width: 100% !important;
        height: 100% !important;
        border-radius: 0 !important;
        border: 0 !important;
        padding: 0;
        @include bottom_yellow_image(7.8svh);
        .page-title {
            @include titles_styles($color-bright-orange, clamp(16px, 4.8vw, 18px), normal, 700);
        }
        .row {
            .col-md-6 {
                #step1,
                #step2 {
                    .panel-body {
                        @include flex_column_center();
                        margin-top: 2px !important;
                        position: relative !important;
                        p {
                            @include titles_styles($color-gray-warm, clamp(12px, 3vw, 14px), normal, 600);
                            text-align: center !important;
                            width: 90vw !important;
                        }
                        .alert {
                            @include titles_styles($alert-red, clamp(8px, 1.2svh, 10px), normal, 600);
                            top: 35% !important;
                            bottom: 59% !important;
                            &#captchaError {
                                top: unset !important;
                                bottom: 32px !important;
                            }
                            &#notFoundError {
                                &::after {
                                    @include login_page_alert(clamp(8px, 1.2svh, 10px), unset);
                                }
                            }
                        }
                        .contact-form {
                            .form-group {
                                @include input_nth_child_mobile('מספר זהות', 78vw, clamp(25px, 5svh, 38px), clamp(10px, 1.7svh, 12px), -2.7svh, 1.8svh);
                            }
                            #btn_sendpid {
                                @include submit_btn_(80px, 25px, 10px);
                            }
                            #btn_loginbyemail {
                                @include login_type_title(1.3svh, 21.657px);
                                bottom: -40px !important;
                            }
                        }
                    }
                }
                #step2 {
                    .panel-body {
                        .alert {
                            top: 65% !important;
                            bottom: 25% !important;
                        }
                        .contact-form {
                            .form-group {
                                margin: 3.2svh 0 3.2svh 0 !important;
                                @include input_nth_child_mobile('', 78vw, clamp(25px, 5svh, 38px), clamp(10px, 1.7svh, 12px), -2.7svh, 1.5svh);
                            }
                            #btn_sendcode {
                                @include submit_btn_(80px, 25px, 10px);
                            }
                        }
                    }
                }
            }
        }
    }
}
