@import '../mixin-vars/mixins';
@import '../mixin-vars/vars';
* {
    @include start_config_rdg();
}
body,
html {
    @include flex_column_center();
    height: 100% !important;
    width: 100% !important;
}

// prettier-ignore
.container .row .col-md-6 .panel .panel-heading,
.container .row .col-md-6 .panel .panel-body div br,
.container .row .col-md-6 .panel .panel-body #other_btns #btn_loginbystudy,
.container .row .col-md-6 .panel .panel-body div #step1 .form-group label,
.container .row .col-md-6 .panel .panel-body div #step1 .form-group i,
.container .row .col-md-6 .panel .panel-body div #step2 .form-group label,
.container .row .col-md-6 .panel .panel-body div #step2 .form-group i,
 { display: none !important; }

body {
    @include bottom_titles_rdg(485px);
    background: radial-gradient(301.69% 164.03% at -23.02% 16.96%, rgba(255, 238, 213, 0.4) 13.66%, #fffbee 28.39%, rgba(223, 224, 209, 0.4) 85.75%, #fff5e0 100%) !important;
}

.container {
    @include flex_column_center();
    position: relative !important;
    height: 466px !important;
    min-height: 466px !important;
    width: 525px !important;
    border-radius: 60px !important;
    border: 1px solid #e2e0e0 !important;
    box-shadow: 0 4px 43px 0 rgba(166, 163, 157, 0.22) !important;
    background: white !important;
    overflow: hidden !important;
    @include bottom_yellow_image(326px, 711px, -270px);

    .page-title {
        @include titles_styles($color-bright-orange, 20px, normal, 700);
        position: relative !important;
        @include login_polygon(-16px, -280px, 12px, -15px);
    }
    .row {
        @include flex_column_center();
        .col-md-6 {
            .panel {
                .panel-body {
                    @include flex_column_center();
                    .alert {
                        @include login_page_alert(11px, unset);
                        width: max-content !important;
                        bottom: 34px !important;
                        &#captchaError {
                            bottom: 34px !important;
                        }
                    }
                    div {
                        @include flex_column_center();
                        #step1 {
                            p {
                                @include titles_styles($color-gray-warm, 14px, normal, 500);
                            }
                            #g-recaptcha {
                                height: 144px !important;
                                transform: scale(0.8) !important;
                                margin: 12px 0 5px 0 !important;
                            }
                            .form-group {
                                margin-top: 39px !important;
                                @include input_nth_child('אימייל', 340, 39, 13, -22, 15);
                                .form-control {
                                    padding: 0 15px !important;
                                }
                            }
                            #btn_send_email {
                                @include submit_btn_(105px, 27px, 12px);
                            }
                        }

                        /////////////
                        #step2 {
                            @include flex_column_center();
                            p {
                                @include titles_styles($color-gray-warm, 15px, normal, 500);
                                text-align: center !important;
                                width: 400px !important;
                                br:first-of-type {
                                    display: block !important;
                                }
                                span {
                                    display: block !important;
                                    color: $color-light-cyan !important;
                                    font-weight: 500 !important;
                                    margin: 0.5rem 0 0 0 !important;
                                }
                                strong > span {
                                    display: inline !important;
                                    text-transform: lowercase !important;
                                    color: $color-gray-warm !important;
                                    font-weight: 500 !important;
                                }
                            }
                            .form-group {
                                position: relative !important;
                                margin: 3rem 0 3rem 0 !important;
                                @include input_nth_child('', 340, 39, 13, -22, 13);
                            }
                            #btn_send_otp {
                                @include submit_btn_(105px, 27px, 12px);
                            }
                        }
                    }
                    #other_btns {
                        position: absolute !important;
                        bottom: -53px !important;
                        z-index: 10 !important;
                        #btn_loginbyid {
                            @include login_type_title(12px, 21.657px);
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: $mobile) {
    .container {
        @include flex_column_center();
        background: radial-gradient(301.69% 164.03% at -23.02% 16.96%, rgba(255, 238, 213, 0.4) 13.66%, #fffbee 28.39%, rgba(223, 224, 209, 0.4) 85.75%, #fff5e0 100%) !important;
        width: 100% !important;
        height: 100% !important;
        border-radius: 0 !important;
        border: 0 !important;
        padding: 0;
        @include bottom_yellow_image(250vw, 250vw, 90svh);

        .page-title {
            @include titles_styles($color-bright-orange, clamp(16px, 4.8vw, 18px), normal, 700);
            @include login_polygon(-75px, -15vw, -10px, 130px);
        }
        .row {
            .col-md-6 {
                .panel {
                    .panel-body {
                        .alert {
                            @include titles_styles($alert-red, clamp(8px, 1.2svh, 10px), normal, 600);
                            bottom: 32px !important;
                            &#captchaError {
                                top: unset !important;
                                bottom: 32px !important;
                            }
                        }
                        div {
                            @include flex_column_center();

                            #step1 {
                                p {
                                    @include titles_styles($color-gray-warm, clamp(12px, 3vw, 14px), normal, 600);
                                }

                                .form-group {
                                    @include input_nth_child_mobile('אימייל', 78vw, clamp(25px, 5svh, 38px), clamp(10px, 1.7svh, 12px), -2.7svh, 1.5svh);
                                }

                                #btn_send_email {
                                    @include submit_btn_(80px, 25px, 10px);
                                }
                            }

                            // ############## step 2
                            #step2 {
                                p {
                                    @include flex_column_center();
                                    text-align: center !important;
                                    color: transparent !important;
                                    font-size: 0 !important;
                                    &:before {
                                        content: 'המערכת שלחה לך קוד חד פעמי לכתובת האימייל, יש לבדוק את תיבת האימייל';
                                        position: relative !important;
                                        display: block !important;
                                        @include titles_styles($color-gray-warm, 1.6svh, normal, 500);
                                        width: 70vw !important;
                                    }
                                    span {
                                        display: block !important;
                                        @include titles_styles($color-light-cyan, 1.6svh, normal, 500);
                                        margin: unset !important;
                                    }

                                    strong {
                                        @include flex_row_center();
                                        gap: 0 5px !important;

                                        &:before {
                                            content: 'הקוד נשלח לכתובת' !important;
                                            position: relative !important;
                                            display: block !important;
                                            width: max-content !important;
                                            @include titles_styles($color-gray-warmer, 1.6svh, normal, 500);
                                        }
                                    }

                                    strong > span {
                                        color: $color-gray-warmer !important;
                                        text-transform: lowercase !important;
                                        font-weight: 500 !important;
                                        margin: unset !important;
                                        display: inline !important;
                                    }
                                }
                                .form-group {
                                    @include input_nth_child_mobile('', 78vw, clamp(25px, 5svh, 38px), clamp(10px, 1.7svh, 12px), -2.7svh, 1.5svh);
                                }
                                #btn_send_otp {
                                    @include submit_btn_(80px, 25px, 10px);
                                }
                            }
                        }
                        #other_btns {
                            position: absolute !important;
                            bottom: -2.6svh !important;
                            height: 0 !important;
                            #btn_loginbystudy {
                                display: none !important;
                            }
                            #btn_loginbyid {
                                @include login_type_title(1.4svh, 21.657px);
                            }
                        }
                    }
                }
            }
        }
    }
}
