@import 'mixins';
@import 'vars';
* {
    @include start_config_rdg();
}
body,
html {
    height: 100%;
}

.container {
    @include flex_column_center();
    width: 100% !important;
    height: 100% !important;
    .page-title {
        @include login_page_title(20px, 26px);
    }
    .row {
        .col-md-6 {
            .panel {
                height: 250px !important;
                .panel-heading {
                    display: none !important;
                }
                .panel-body {
                    @include flex_column_center();
                    p {
                        @include login_paragraph(14px);
                    }
                    .alert {
                        @include login_page_alert(11px, 98px);
                        &#captchaError {
                            top: 226px;
                        }
                        &#notFoundError {
                            width: max-content !important;
                            overflow: hidden !important;
                            height: 17px !important;
                        }
                    }
                    .contact-form {
                        @include flex_column_center();
                        .form-group {
                            margin-top: 39px !important;
                            @include input_nth_child('מספר זהות', 468, 39, 13, -22, 15);
                            i,
                            label {
                                display: none !important;
                            }
                        }
                        #g-recaptcha {
                            @include login_captcha_position(4px, 0.8);
                        }
                        #btn_sendpid {
                            @include submit_btn(105px, 27px, 12px, -30px);
                        }

                        #btn_loginbystudy {
                            display: none !important;
                        }
                        #btn_loginbyemail {
                            position: absolute !important;
                            bottom: -60px !important;
                            @include login_type_title(12px, 21.657px);
                        }
                    }
                }
            }
            #step2 {
                .panel-body {
                    .contact-form {
                        @include flex_column_center();
                        .form-group {
                            margin-top: 39px !important;
                            @include input_nth_child('קוד', 468, 39, 13, -22, 13);
                        }
                        #btn_sendcode {
                            @include submit_btn(105px, 27px, 12px, -30px);
                        }
                    }
                }
            }
        }
    }
}
