@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Oxanium:wght@200..800&family=Rubik+Wet+Paint&family=Rubik:ital,wght@0,300..900;1,300..900&family=Tiny5&display=swap');
@import 'vars';
@mixin start_config_main {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif !important;
    font-weight: 400;
    font-size: 16px;
    font-style: normal;
    line-height: normal;
    overscroll-behavior: none;
}

@mixin start_config_rdg {
    margin: unset !important;
    padding: unset !important;
    box-sizing: border-box !important;
    font-family: 'Open Sans', sans-serif !important;
    font-style: normal !important;
    line-height: normal !important;
    overscroll-behavior: none !important;
    background-color: unset !important;
    border: unset !important;
    text-align: unset !important;
    text-transform: uppercase !important;
    min-width: unset !important;
    max-width: unset !important;
    transition: unset !important;
    box-shadow: unset !important;
    --bs-bg-opacity: unset !important;
}

@mixin flex_row_center {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
@mixin flex_column_center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

@mixin before_after_head($text, $left, $right, $top, $bottom, $color, $size, $weight) {
    content: $text;
    display: block;
    position: absolute;
    width: max-content;
    color: $color !important;
    font-size: #{$size}px !important;
    font-weight: $weight !important;
    top: #{$top}px;
    bottom: #{$bottom}px;
    left: #{$left}px;
    right: #{$right}px;
}

@mixin before_after_head_mobile($text, $left, $right, $top, $bottom, $color, $size, $weight, $line-height, $width) {
    content: $text;
    display: block;
    position: absolute;
    text-align: center;
    width: $width !important;
    color: $color !important;
    font-size: $size !important;
    font-weight: $weight !important;
    top: $top;
    bottom: $bottom;
    left: $left;
    right: $right;
    line-height: $line-height;
}

@mixin input_nth_child($text, $width, $height, $font-size, $top, $input-font-size) {
    width: #{$width}px !important;
    height: #{$height}px !important;
    box-shadow: 0 2.227px 23.381px rgba(103, 136, 213, 0.25) !important;
    border-radius: 2rem;
    background-color: #fff !important;
    input {
        text-transform: lowercase !important;
        font-size: #{$input-font-size}px !important;
        font-weight: 400 !important;
        color: #b7b7b7 !important;
        padding: 0 15px !important;
        &::placeholder {
            text-transform: lowercase !important;
            font-size: #{$input-font-size}px !important;
            font-weight: 400 !important;
            color: #b7b7b7 !important;
        }
    }
    &:before {
        content: $text;
        display: block;
        position: absolute;
        width: max-content;
        color: #808080 !important;
        font-size: #{$font-size}px !important;
        font-weight: 500 !important;
        top: #{$top}px;
        right: 10px;
    }
}

@mixin input_nth_child_mobile($text, $width, $height, $font-size, $top, $input-font-size) {
    width: $width !important;
    height: $height !important;
    box-shadow: 0 2.227px 23.381px rgba(103, 136, 213, 0.25) !important;
    border-radius: 4rem !important;
    background-color: #fff !important;
    input {
        text-transform: lowercase !important;
        font-size: $input-font-size !important;
        font-weight: 400 !important;
        color: #b7b7b7 !important;
        width: 100% !important;
        height: 100% !important;
        &::placeholder {
            text-transform: lowercase !important;
            font-size: $input-font-size !important;
            font-weight: 400 !important;
            color: #b7b7b7 !important;
        }
    }
    &:before {
        content: $text;
        display: block;
        position: absolute;
        width: max-content;
        color: #808080 !important;
        font-size: $font-size !important;
        font-weight: 500 !important;
        top: $top;
        right: 10px;
    }
}

@mixin header_btn($width, $height, $line-height, $font-size, $translate) {
    position: relative !important;
    width: $width !important; // change
    height: $height !important; // change
    background-color: $color-light-cyan !important;
    border-radius: 2rem !important;
    line-height: $line-height !important; // change
    color: $color-white !important;
    font-size: $font-size !important; // change
    font-weight: 600 !important;
    translate: $translate 0; // change
    @media screen and (max-width: $mobile) {
        //margin: 0 33.1vw 0 14.3vw !important;
    }
    &:before {
        content: '';
        display: block;
        position: absolute;
        width: calc(100% + 4px) !important;
        height: calc(100% + 4px) !important;
        border-radius: 2rem !important;
        border: 1px solid $color-light-cyan !important;
        top: -2px;
        left: -2px;
    }
}

@mixin popup_wrapper($width, $height, $iframe-width, $bg-vertical, $bg-horizontal, $c-h-w, $c-t-r, $c-x-s, $b-t-b, $t-f-s, $t-c-w, $t-l-h) {
    position: relative;
    @include flex_column_center();
    width: $width;
    height: $height;
    border-radius: 60px;
    border: 1px solid #e2e0e0;
    box-shadow: 0 4px 43px 0 rgba(166, 163, 157, 0.22);
    background: rgb(100%, 100%, 100%, 0.5) url('/src/assets/ellipse.png') no-repeat $bg-vertical $bg-horizontal;
    .close {
        position: absolute;
        @include flex_row_center();
        cursor: pointer;
        width: $c-h-w;
        height: $c-h-w;
        border-radius: 50%;
        background-color: $color-white;
        right: $c-t-r;
        top: $c-t-r;
        box-shadow: 0 4px 43px 0 rgba(166, 163, 157, 0.22);
        img {
            width: $c-x-s;
        }
    }
    .exist_icon {
        display: none;
        position: absolute;
        top: -112px;
        margin: 0 auto;
        &.login {
            left: 55px;
            right: 0;
        }
        &.service {
        }
    }
    .iframe-wrapper {
        @include flex_column_center();
        width: 100%;
        height: 100%;
        overflow: hidden;
        #contentframe {
            border: none;
            outline: none;
            width: $iframe-width !important;
            height: 100vh;
            background-color: transparent;
        }
    }

    .bottom_text {
        position: absolute;
        bottom: $b-t-b;
        @include flex_column_center();
        .bottom_title {
            text-align: center;
            direction: rtl;
            &.up {
                color: $color-gray-warm;
                text-align: center;
                font-size: $t-f-s;
                font-weight: 400;
                line-height: $t-l-h;
                width: $t-c-w;
            }
            &.middle {
                color: $color-bright-orange;
                font-size: $t-f-s;
                font-weight: 400;
                line-height: $t-l-h;
                .number {
                    font-size: $t-f-s;
                    font-weight: 400;
                    line-height: 20px;
                }
            }
        }
    }
}

@mixin submit_btn($width, $height, $font-size, $bottom) {
    position: absolute !important;
    width: $width !important;
    height: $height !important;
    bottom: $bottom !important;
    color: $color-white !important;
    font-size: $font-size !important;
    font-style: normal !important;
    font-weight: 600 !important;
    background-color: $bright-orange !important;
    text-align: center !important;
    border-radius: 2rem !important;
    letter-spacing: -1px !important;
    line-height: 0 !important;
}

@mixin login_page_alert($font-size, $top) {
    position: absolute !important;
    color: $alert-red !important;
    font-size: $font-size !important;
    font-weight: 600 !important;
    text-align: center !important;
    top: $top;
}

@mixin login_type_title($font-size, $line-height) {
    color: $slate-gray !important;
    text-align: center !important;
    font-size: $font-size !important;
    font-weight: 700 !important;
    line-height: $line-height !important; /* 180.475% */
}

@mixin login_captcha_position($bottom, $scale) {
    position: absolute;
    bottom: $bottom !important;
    transform: scale($scale) !important;
}

@mixin steps_before_content($height) {
    &:before {
        content: '' !important;
        position: absolute !important;
        top: 31px !important;
        right: 15px !important;
        width: 1px !important;
        height: $height !important;
        border-right: 1px dashed $color-bright-orange !important;
    }
}

@mixin titles_styles($color, $font-size, $line-height, $font-weight) {
    color: $color !important;
    font-size: $font-size !important;
    font-weight: $font-weight !important;
    line-height: $line-height !important;
}

@mixin popup_wrapper_mobile() {
}
