@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Oxanium:wght@200..800&family=Rubik+Wet+Paint&family=Rubik:ital,wght@0,300..900;1,300..900&family=Tiny5&display=swap');

@mixin start_config_main {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif !important;
    font-weight: 400;
    font-size: 16px;
    font-style: normal;
    line-height: normal;
    overscroll-behavior: none;
}

@mixin start_config_rdg {
    margin: 0 !important;
    padding: 0 !important;
    box-sizing: border-box !important;
    font-family: 'Open Sans', sans-serif !important;
    font-style: normal !important;
    line-height: normal !important;
    overscroll-behavior: none !important;
    background-color: unset !important;
    border: unset !important;
    text-align: unset !important;
    text-transform: uppercase !important;
    min-width: unset !important;
    max-width: unset !important;
    transition: unset !important;
    box-shadow: unset !important;
}

@mixin flex_row_center {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
@mixin flex_column_center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

@mixin before_after_head($text, $left, $right, $top, $bottom, $color, $size, $weight) {
    content: $text;
    display: block;
    position: absolute;
    width: max-content;
    color: $color !important;
    font-size: #{$size}px !important;
    font-weight: $weight !important;
    top: #{$top}px;
    bottom: #{$bottom}px;
    left: #{$left}px;
    right: #{$right}px;
}

@mixin input_nth_child($text, $width, $height, $font-size, $top, $input-font-size) {
    width: #{$width}px;
    height: #{$height}px;
    box-shadow: 0 2.227px 23.381px rgba(103, 136, 213, 0.25) !important;
    border-radius: 2rem;
    background-color: #fff !important;
    input{
        text-transform: lowercase !important;
        font-size: #{$input-font-size}px !important;
        font-weight: 400 !important;
        color: #b7b7b7 !important;
    }
    &:before {
        content: $text;
        display: block;
        position: absolute;
        width: max-content;
        color: #808080 !important;
        font-size: #{$font-size}px !important;
        font-weight: 500 !important;
        top: #{$top}px;
        right: 10px;
    }
}
