@import 'mixins';
@import 'vars';
* {
    @include start_config_rdg();
}
body,
html {
    height: 100%;
}
.container {
    @include flex_column_center();
    width: 100% !important;
    height: 100% !important;
}
.container > div:first-of-type {
    position: relative !important;
    width: 551px !important;
    height: 65px !important;
    background-color: #f9fbfd !important;
    border-radius: 49px !important;
    border: 1px solid #e1e1e1 !important;
    padding: 17px 10px 17px 0 !important;
    margin-bottom: 25px !important;
    h4 {
        width: 100% !important;
        text-align: center !important;
        @include titles_styles(transparent, 17px, normal, 700);
    }
    a {
        @include header_btn(94px, 28px, 28px, 13px, 6px);
    }
    &:before {
        @include before_after_head('לקוח קיים? אם כבר נרשמתם', '', 71, 18, '', $color-gray-warm, 17, 700);
    }
    &:after {
        @include before_after_head('כדי להתחבר', 61, '', 18, '', $color-gray-warm, 17, 700);
    }
    br {
        display: none !important;
    }
}

.container > .row {
    .col-md-12 {
        .panel {
            @include flex_column_center();
            .panel-heading {
                position: relative;
                @include titles_styles(transparent, 20px, normal, bold);
                &:before {
                    @include before_after_head('לקוח חדש ברוכים הבאים, הזינו את פרטיכם', 0, 0, 0, '', $color-bright-orange, 20, bold);
                    margin: 0 auto !important;
                }
            }
            .panel-body {
                @include flex_column_center();
                #div_enter_with_email {
                    display: none !important;
                }
                .alert {
                    position: absolute;
                    text-align: center !important;
                    bottom: -25px;
                    @include titles_styles($alert-red, 11px, normal, 600);
                }
                #contactSuccess {
                    color: $lime-green !important;
                    overflow: hidden !important;
                    width: 130px !important;
                    height: 15px !important;
                    &:after,
                    &:before {
                        content: '';
                    }
                }
                #top_info {
                    .page-title {
                        text-align: center !important;
                        @include titles_styles($color-gray-warm, 16px, normal, 550);
                    }
                    p {
                        position: absolute;
                        width: max-content;
                        left: 0;
                        right: 0;
                        bottom: 185px;
                        margin: 0 auto !important;
                        @include titles_styles(#28ccde, 13px, normal, 600);
                    }
                }

                .contact-form {
                    margin-top: 45px !important;
                    height: 346px !important;
                    p {
                        display: none;
                    }
                    #g-recaptcha {
                        position: absolute;
                        bottom: 35px !important;
                        transform: scale(0.8) !important;
                    }
                    #contact-form {
                        @include flex_row_center();
                        flex-wrap: wrap;
                        width: 550px;
                        gap: 40px 30px;
                        .form-group {
                            @include flex_row_center();
                            label,
                            i {
                                display: none;
                            }
                            &:nth-child(1) {
                                @include input_nth_child('שם פרטי', 260, 39, 13, -22, 15);
                            }
                            &:nth-child(2) {
                                @include input_nth_child('שם משפחה', 260, 39, 13, -22, 15);
                            }
                            &:nth-child(3) {
                                @include input_nth_child('כתובת מייל', 260, 39, 13, -22, 15);
                            }
                            &:nth-child(4) {
                                @include input_nth_child('טלפון נייד', 260, 39, 13, -22, 15);
                            }
                        }
                        .btn {
                            @include submit_btn(120px, 28px, 12px, 0);
                        }
                    }
                }
            }
        }
    }
}
// laptop
@media screen and (max-width: $small-popup) {
    .container > div:first-of-type {
        width: 409px !important;
        height: 48px !important;
        padding: 11px 2px 11px 0 !important;
        margin-bottom: 20px !important;
        h4 {
            font-size: 14px !important;
        }
        a {
            @include header_btn(75px, 21px, 21px, 10px, 6px);
        }
        &:before {
            @include before_after_head('לקוח קיים? אם כבר נרשמתם', '', 30, 12, '', $color-gray-warm, 14, 700);
        }
        &:after {
            @include before_after_head('כדי להתחבר', 30, '', 12, '', $color-gray-warm, 14, 700);
        }
    }
    .container > .row {
        .col-md-12 {
            .panel {
                @include flex_column_center();
                .panel-heading {
                    font-size: 16px !important;
                    &:before {
                        @include before_after_head('לקוח חדש ברוכים הבאים, הזינו את פרטיכם', 0, 0, 0, '', $color-bright-orange, 16, bold);
                    }
                }
                .panel-body {
                    @include flex_column_center();
                    .alert {
                        font-size: 10px !important;
                        bottom: -20px;
                    }
                    #top_info {
                        .page-title {
                            font-size: 13px !important;
                        }
                        p {
                            bottom: 155px;
                            font-size: 11px !important;
                        }
                    }
                    .contact-form {
                        margin-top: 40px !important;
                        height: 280px !important;
                        #g-recaptcha {
                            bottom: 20px !important;
                            transform: scale(0.65) !important;
                        }
                        #contact-form {
                            width: 435px;
                            gap: 30px 15px;
                            .form-group {
                                &:nth-child(1) {
                                    @include input_nth_child('שם פרטי', 210, 30, 10, -18, 13);
                                }
                                &:nth-child(2) {
                                    @include input_nth_child('שם משפחה', 210, 30, 10, -18, 13);
                                }
                                &:nth-child(3) {
                                    @include input_nth_child('כתובת מייל', 210, 30, 10, -18, 13);
                                }
                                &:nth-child(4) {
                                    @include input_nth_child('טלפון נייד', 210, 30, 10, -18, 13);
                                }
                            }
                            .btn {
                                @include submit_btn(103px, 25px, 10px, 0);
                            }
                        }
                    }
                }
            }
        }
    }
}

// mobile
@media screen and (max-width: $mobile) {
    .container > div:first-of-type {
        width: 80% !important;
        height: 5.6svh !important;
        min-height: 5.6svh !important;
        border-radius: 15px !important;
        padding: unset !important;
        margin-bottom: 20px !important;
        @include flex_row_center();
        h4 {
            font-size: 0 !important;
        }
        a {
            @include header_btn(8svh, 2svh, 1.9svh, 1.1svh, 0);
        }
        &:before {
            @include before_after_head_mobile('לקוח קיים? אם כבר נרשמתם', unset, 8%, unset, unset, $color-gray-warm, 2.7vw, 700, 2svh, 33.1vw);
        }
        &:after {
            @include before_after_head_mobile('כדי להתחבר', 8%, unset, unset, unset, $color-gray-warm, 2.7vw, 700, 2svh, 14.3vw);
        }
    }

    .container > .row {
        .col-md-12 {
            .panel {
                .panel-heading {
                    font-size: 2.4svh !important;
                    width: 28svh !important;
                    text-align: center !important;
                    line-height: 23.565px !important;
                    &:before {
                        @include before_after_head_mobile('לקוח חדש ברוכים הבאים, הזינו את פרטיכם', 0, 0, 0, unset, $color-bright-orange, 2.4svh, bold, 23.565px, 27svh);
                    }
                }
                .panel-body {
                    @include flex_column_center();
                    .alert {
                        position: absolute;
                        bottom: -3svh !important;
                        text-align: center !important;
                        @include titles_styles($alert-red, 1.3svh, normal, 600);
                    }
                    #contactSuccess {
                        color: $lime-green !important;
                        overflow: hidden !important;
                        width: 17svh !important;
                        height: 15px !important;
                        &:after,
                        &:before {
                            content: '';
                        }
                    }
                    #top_info {
                        .page-title {
                            text-align: center !important;
                            @include titles_styles($color-gray-warm, 1.6svh, normal, 550);
                        }
                        p {
                            bottom: calc(58svh - 45%) !important;
                            font-size: 1.3svh !important;
                        }
                    }

                    .contact-form {
                        margin-top: 4svh !important;
                        height: 58svh !important;
                        #g-recaptcha {
                            position: absolute;
                            bottom: 2svh !important;
                            transform: scale(0.7) !important;
                        }
                        #contact-form {
                            @include flex_row_center();
                            flex-wrap: wrap;
                            width: 100%;
                            gap: 3.3svh 0;
                            .form-group {
                                @include flex_row_center();
                                label,
                                i {
                                    display: none;
                                }
                                .form-control {
                                    padding: 0 10px !important;
                                }
                                &:nth-child(1) {
                                    @include input_nth_child_mobile('שם פרטי', 80%, 4.4svh, 1.4svh, -2.4svh, 1.4svh);
                                }
                                &:nth-child(2) {
                                    @include input_nth_child_mobile('שם משפחה', 80%, 4.4svh, 1.4svh, -2.4svh, 1.4svh);
                                }
                                &:nth-child(3) {
                                    @include input_nth_child_mobile('כתובת מייל', 80%, 4.4svh, 1.4svh, -2.4svh, 1.4svh);
                                }
                                &:nth-child(4) {
                                    @include input_nth_child_mobile('טלפון נייד', 80%, 4.4svh, 1.4svh, -2.4svh, 1.4svh);
                                }
                            }
                            .btn {
                                @include submit_btn(20%, 3svh, 1.5svh, 0);
                            }
                        }
                    }
                }
            }
        }
    }
}
