@import 'mixins';
@import 'vars';
* {
    @include start_config_rdg();
}
body,
html {
    @include flex_column_center();
    height: 100% !important;
    width: 100% !important;
}

#loading {
    position: absolute !important;
    top: 0 !important;
    left: 0 !important;
    width: 100% !important;
    height: 100% !important;
    #loading_header {
        @include flex_column_center();
        text-align: center !important;
        width: 100% !important;
        height: 100% !important;
        .fs-4 {
            @include titles_styles($color-gray-warm, 20px, normal, 700);
        }
    }
    #loading_errors {
        @include flex_column_center();
        width: 100% !important;
        height: 100% !important;
        h3 {
            @include titles_styles($alert-red, 20px, normal, 700);
        }
        h2 {
            @include titles_styles($color-gray-warm, 16px, normal, 700);
        }
    }
}
.container {
    @include flex_column_center();
    width: 834px !important;
    height: 633px !important;
    padding: unset !important;
    border-radius: 60px !important;
    border: 1px solid #e2e0e0 !important;
    box-shadow: 0 4px 43px 0 rgba(166, 163, 157, 0.22) !important;
    background: rgb(100%, 100%, 100%, 0.5) !important;
    overflow: hidden !important;
    @include bottom_yellow_image(60px);
    #phone_row,
    #service_header {
        display: none !important;
    }
    #page_header {
        @include titles_styles($color-bright-orange, 20px, normal, 700);
        margin: unset !important;
    }
    #instruct {
        &:before {
            content: '';
            position: absolute !important;
            top: 31px !important;
            right: 0 !important;
            width: 100% !important;
            height: 1px !important;
            border-right: 1px dashed $color-bright-orange !important;
        }
        @include flex_column_center();
        #cntdiv {
            @include flex_column_center();
            width: 120px !important;
            height: 32px !important;
            min-height: 32px !important;
            border-radius: 1rem !important;
            outline: 1px solid $color-bright-cyan !important;
            margin: 10px auto 0 auto !important;
            z-index: 2 !important;
            input {
                width: 100% !important;
                height: 100% !important;
                text-align: center !important;
                border-radius: 1rem !important;
                @include titles_styles($color-bright-cyan, 12px, 0, bold);
            }
        }
        #instruct_inner_heading {
            margin-bottom: 25px !important;
            @include titles_styles($color-bright-cyan, 15px, normal, 600);
        }
        .row {
            @include flex_column_center();

            .col-12 {
                @include flex_column_center();
                .card {
                    @include flex_column_center();
                    padding: 0 75px 0 0 !important;
                    margin-bottom: unset !important;
                    #instruct_video {
                        align-self: start !important;
                        margin-bottom: 15px !important;
                        @include titles_styles($color-bright-cyan, 14px, normal, 700);
                    }
                    .stepper {
                        .step {
                            .mb-0 {
                                .step-number {
                                    text-align: center !important;
                                    width: 32.247px !important;
                                    height: 32.247px !important;
                                    border-radius: 50% !important;
                                    border: 1px dashed $color-bright-orange !important;
                                    @include titles_styles($color-bright-orange, 17px, 32px, 600);
                                }
                                .step-title {
                                    @include titles_styles($color-gray-warm, 14px, normal, 600);
                                }
                            }
                            .step-content {
                                margin-right: 45px !important;
                                .text-uppercase {
                                    @include titles_styles($color-bright-orange, 14px, 22px, 700);
                                }
                                .d-inline-block {
                                    @include titles_styles($color-gray-warm, 13px, 22px, 400);
                                }
                            }
                            &:nth-child(1) {
                                @include steps_before_content(30px);
                            }
                            &:nth-child(2) {
                                @include steps_before_content(30px);
                            }
                            &:nth-child(3) {
                                @include steps_before_content(90px);
                            }
                        }
                    }
                }
            }
            .col-xl-2 {
                display: none !important;
                flex: unset !important;
                width: 0 !important;
            }
        }
    }

    // upload section
    .row.mt-8 {
        @include flex_row_center();
        width: 100% !important;
        position: absolute !important;
        .col-lg-8,
        .col-lg-4 {
            @include flex_column_center();
            width: 40% !important;
            min-width: 40% !important;
        }
        .col-lg-8 {
            div:has(#msg) {
                #msg {
                    br {
                        display: none !important;
                    }
                    position: relative !important;
                    text-align: right !important;
                    @include titles_styles($lime-green, 18px, 21px, 700);
                    width: 260px !important;
                    &:has(br) {
                        @include titles_styles(transparent, 14px, 21px, 400);
                        width: 260px !important;
                        &:before {
                            content: 'לחצו על כפתור העלאת קובץ ובחרו את הכונן או התיקייה בה נמצאת הבדיקה ניתן להיעזר בסרטון הקצר המוצג בעמוד';
                            position: absolute !important;
                            top: 0 !important;
                            right: 0 !important;
                            width: 100% !important;
                            @include titles_styles($color-gray-warm, 14px, 21px, 400);
                        }
                        &:after {
                            content: 'העלאת קובץ';
                            position: absolute !important;
                            top: 0 !important;
                            right: 5.46rem !important;
                            width: 100% !important;
                            @include titles_styles($color-bright-cyan, 14px, 21px, 400);
                        }
                    }
                }
                #msg[style*='color: red'] {
                    @include titles_styles($alert-red, 18px, 21px, 700);
                }
            }

            #choosediv {
                position: relative !important;
                margin-top: 16px !important;
                width: 260px !important;
                label {
                    position: relative !important;
                    width: 120px !important;
                    height: 32px !important;
                    border-radius: 1rem !important;
                    outline: 1px solid $color-bright-cyan !important;
                    text-align: center !important;
                    @include titles_styles(transparent, 12px, 30px, bold);
                    &:before {
                        content: 'העלאת קובץ';
                        width: max-content !important;
                        position: absolute !important;
                        left: 0 !important;
                        right: 0 !important;
                        margin: 0 auto !important;
                        @include titles_styles($color-bright-cyan, 12px, 30px, bold);
                        z-index: 1 !important;
                    }
                }
                #choosemsg {
                    @include titles_styles($color-gray-warm, 14px, 21px, 400);
                    br {
                        display: none !important;
                    }
                }
            }
            #progress,
            #uploadprogress,
            #uploadretry,
            #counter,
            #bytes,
            #time {
                display: none !important;
                height: 0 !important;
                width: 0 !important;
                overflow: hidden !important;
            }
            #restartdiv {
                align-self: center !important;
                width: 260px !important;
                flex-direction: column !important;
                align-items: center !important;
                justify-content: center !important;
                #msg_process {
                    text-align: right !important;
                    margin-bottom: 15px !important;
                    @include titles_styles($color-gray-warm, 13px, 20px, 400);
                }
                #btn_restart,
                #btn_close_tab {
                    position: relative !important;
                    width: 120px !important;
                    height: 32px !important;
                    border-radius: 1rem !important;
                    text-align: center !important;
                    outline: 1px solid $color-bright-cyan !important;
                    @include titles_styles($color-bright-cyan, 12px, 30px, bold);
                }
                #btn_restart {
                    margin: 0 0 0 10px !important;
                }
            }
        }
        .col-lg-4 {
            align-items: center !important;
            #sidebardiv {
                #sidelink {
                    #sideimg {
                        width: 100% !important;
                        max-width: 300px !important;
                    }
                }
            }
        }
    }
}

// mobile
@media screen and (max-width: $mobile) {
    #loading {
        #loading_header {
            .fs-4 {
                @include titles_styles($color-gray-warm, 2.4svh, normal, 700);
            }
        }
        #loading_errors {
            h3 {
                @include titles_styles($alert-red, 2.4svh, normal, 700);
            }
            h2 {
                @include titles_styles($color-gray-warm, 1.8svh, normal, 700);
                text-align: center !important;
            }
        }
    }

    .container {
        @include flex_column_center();
        width: 100% !important;
        height: 100svh !important;

        border-radius: 0 !important;
        border: 0 !important;
        box-shadow: unset !important;
        overflow: hidden !important;
        @include bottom_yellow_image(60px);
        #page_header {
            position: relative !important;
            @include titles_styles($color-bright-orange, 2.4svh, normal, 700);
            //margin-bottom: 2svh !important;
        }
        #instruct {
            #cntdiv {
                display: none !important;
            }
            #instruct_inner_heading {
                @include titles_styles($color-bright-cyan, clamp(14px, 3.5vw, 16px), normal, 550);
            }
            .row {
                .col-12 {
                    .card {
                        padding: 0 1vw 0 0 !important;
                        #instruct_video {
                            @include titles_styles($color-bright-cyan, 1.5svh, normal, 700);
                        }
                        .stepper {
                            .step {
                                min-height: 5svh !important;
                                .mb-0 {
                                    @include flex_row_center();
                                    justify-content: start !important;
                                    width: 86vw !important;
                                    gap: 2vw !important;
                                    .step-number {
                                        @include flex_row_center();
                                        width: 3svh !important;
                                        min-width: 3svh !important;
                                        height: 3svh !important;
                                        @include titles_styles($color-bright-orange, 2svh, 0, 600);
                                        margin-left: unset !important;
                                    }
                                    .step-title {
                                        @include titles_styles($color-gray-warm, 1.4svh, normal, 600);
                                    }
                                }
                                .step-content {
                                    margin: calc(1svh) calc(3svh + 2vw) calc(1svh) 0 !important;
                                    width: 90vw !important;
                                    .text-uppercase {
                                        @include titles_styles($color-bright-orange, 1.5svh, 8px, 700);
                                    }
                                    .d-inline-block {
                                        @include titles_styles($color-gray-warm, 1.4svh, 22px, 400);
                                    }
                                }
                                &:nth-child(1) {
                                    .mb-0 {
                                        flex-direction: row-reverse !important;
                                        width: unset !important;
                                        &:before {
                                            content: 'לשליחת הדיסק יש להתחבר מהמחשב, אנא ודאו חיבור יציב לאינטרנט';
                                            @include titles_styles($color-gray-warm, 1.4svh, normal, bold);
                                        }
                                        .step-title,
                                        .steady_connection {
                                            display: none !important;
                                        }
                                    }
                                    @include steps_before_content(2svh);
                                    &:before {
                                        top: 3svh !important;
                                        right: calc(3svh / 2.1) !important;
                                    }
                                }
                                &:nth-child(2) {
                                    @include steps_before_content(2svh);
                                    &:before {
                                        top: 3svh !important;
                                        right: calc(3svh / 2.1) !important;
                                    }
                                }
                                &:nth-child(3) {
                                    @include steps_before_content(90%);
                                    &:before {
                                        top: 3svh !important;
                                        right: calc(3svh / 2.1) !important;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
        .row.mt-8 {
            display: none !important;
        }
    }
}
