$extra-large-screens: 2560px;
$large-screens: 2000px;
$small-screens: 1600px;
$very-small-screens: 1500px;
$large-tablet: 1280px;
$tablet: 1023px;
$tablet-pro: 1024px;
$small-tablet: 768px;
$mobile: 624px;
$galaxy-fold: 280px;
$small-popup: 628px;
$small-popup-upload: 800px;
$mobile-popup: 100%;
//
// COLORS
//
$color-white: #fff;
$color-gray-warm: #656362;
$color-bright-orange: #ffa800;
$color-light-cyan: #5bd7f2;
$alert-red: #ec1313;
$lime-green: #92db14;
$slate-gray: #656362;
$bright-orange: #f90;
$color-bright-cyan: #28ccde;
//
//bg-tests
//

$bg-test-white: rgba(156, 156, 156, 0.3);
$bg-test-blue: rgba(0, 230, 255, 0.3);
